{% load bootstrap4%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% block styles%}
        {% bootstrap_css %}
      
    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    
    <form  action="" method="post">
        {%csrf_token%}
    
        {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe">
      </form>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>