{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/spacelab/bootstrap.min.css">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Awardz- Best Project Rating Trends</title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <!-- <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
    {% endblock %}

    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}">
    
  </head>
  <body>

    {% include 'navbar.html' %}
    {% block content %}
    

    {% endblock %}

    {% block scripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src= "{% static 'js/ajax.js'%}"></script>

    {% bootstrap_javascript %}
    {% endblock %}



  </body>
</html>
